header {
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    background-image: url('/web_static/images/logo.png');
    background-repeat: no-repeat;
    background-position: 20px center;
    border-bottom: 1px solid #CCCCCC;
}